# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ContourWalker/ContourWalker/x64/Debug/ContourWalker.exe.recipe
ContourWalker/ContourWalker/x64/Debug/ContourWalker.ilk
ContourWalker/ContourWalker/x64/Debug/ContourWalker.log
ContourWalker/ContourWalker/x64/Debug/ContourWalker.tlog/CL.command.1.tlog
ContourWalker/ContourWalker/x64/Debug/ContourWalker.tlog/CL.read.1.tlog
ContourWalker/ContourWalker/x64/Debug/ContourWalker.tlog/CL.write.1.tlog
ContourWalker/ContourWalker/x64/Debug/ContourWalker.tlog/ContourWalker.lastbuildstate
ContourWalker/ContourWalker/x64/Debug/ContourWalker.tlog/link.command.1.tlog
ContourWalker/ContourWalker/x64/Debug/ContourWalker.tlog/link.read.1.tlog
ContourWalker/ContourWalker/x64/Debug/ContourWalker.tlog/link.write.1.tlog
ContourWalker/ContourWalker/x64/Debug/main.obj.enc
ContourWalker/ContourWalker/x64/Debug/vc143.idb
ContourWalker/ContourWalker/x64/Debug/vc143.pdb
ContourWalker/ContourWalker/x64/Debug/vlint.obj.enc
ContourWalker/x64/Debug/ContourWalker.pdb
ContourWalker/.vs/ContourWalker/v17/.suo
ContourWalker/.vs/ContourWalker/v17/Browse.VC.db
ContourWalker/.vs/ContourWalker/v17/Browse.VC.db-shm
ContourWalker/.vs/ContourWalker/v17/Browse.VC.db-wal
ContourWalker/.vs/ContourWalker/v17/Browse.VC.opendb
ContourWalker/.vs/ContourWalker/v17/ipch/AutoPCH/25a0de14dfa9f466/VLINT.ipch
ContourWalker/.vs/ContourWalker/v17/ipch/AutoPCH/49791063ce81171/CONTOURWALKER.ipch
ContourWalker/.vs/ContourWalker/v17/ipch/AutoPCH/5d52009661eeec8/MAIN.ipch
